@import '../../../../scss/jt_theme/jt_theme';

.name {
  font-family: 'LuckiestGuy', serif;
  font-size: 60px;
  color: $very-light-gray;
  .first-letter {
    font-size: 70px;
  }
}

.job-title {
  color: $orange;
  font-size: 17px;
}

.btn {
  color: $very-light-gray;
  &:hover {
    color: $light-gray;
  }
}

.avatar,
.logo {
  height: 170px;
  border-radius: 50%;
}
