<div class="row">
  <div class="col-12">
    <div class="content">
      <h2>Portfolio</h2>
    </div>
  </div>
</div>

<div class="row project" *ngFor="let project of projects">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <img [src]="project.screenshot" class="img-thumbnail rounded-circle c-rounded-circle float-left"/>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8">
    <div class="content">
      <h3>{{ project.name }}</h3>
      <ul *ngIf="project.tags && project.tags.length" class="tags list-unstyled">
        <li *ngFor="let tag of project.tags" class="tag">{{ tag }}</li>
      </ul>
      <div class="description">{{ project.description }}</div>
      <a [href]="project.link" target="_blank" class="btn btn-c-primary btn-sm mt-4">View Project</a>
    </div>
  </div>
</div>
