<div class="row">
  <div class="col-12">
    <div class="content">
      <h2>Profile</h2>
    </div>
  </div>
  <div class="col-12">
    <div class="content">
      <h3>My Roots</h3>
      <p>
        I grew up on the Island of Tarawa, in the middle of the Pacific in a country
        known as Kiribati. Life on the island of Tarawa was as simple as it gets.
        When I was there, there was one radio station for the entire country, no tv
        and as a kid the idea of having toys bought from the store was rare.
        <strong>Naturally then as a kid creativity was everything</strong> and that
        meant, our toys were all hand crafted from scratch.
      </p>

      <p>
        Take two big <a href="https://en.wikipedia.org/wiki/Milo_(drink)" target="_blank">milo</a>
        cans and you can make a decent pulley truck. Add a small cocoa can to the mix
        as an extra wheel, and you now have every kid on the block, so to speak, jealous.
        When it rains, that means it's time to construct a boat made out of coconut
        flower husks or soda cans carefully crafted for either wind propelling or a
        simple pulley. <strong>Those were the times as a child that taught me how satisfying
        it is to make something from, what seems like nothing</strong>. Working in the Software
        Development space has continually fed me with that same satisfaction as a kid
        and I feel so honored and blessed to have learned so much from it.
      </p>
    </div>
  </div>
  <div class="col-12">
    <div class="content">
      <h3>What I have learned</h3>
      <p>
        Over ten years of experience in Software Development has taught me that <strong>you
        cannot eat an elephant in one bite</strong>, but instead you must seek for small wins
        as you ...
      </p>

      <ol>
        <li>Collaborate or google it</li>
        <li>Build it</li>
        <li>Test it</li>
        <li>Refactor it and then</li>
        <li>Do it again</li>
      </ol>

      <p>
        Software Development has also enhanced my passion for ping pong, and taught me
        that <strong>group coding sessions and code reviews are an essential
        tool in developing, learning and promoting good programming practices and
        patterns across the board.</strong>
      </p>
    </div>
  </div>
  <div class="col-12">
    <div class="content">
      <h3>My Vision</h3>
      <p>
        I would love to one day write my own Software that would allow me to help
        others, on a global scale, but I know I cannot do it alone,
        so, I have committed myself to work amongst great talent.
      </p>
    </div>
  </div>
</div>
