<div class="row">
  <div class="offset-lg-2 offset-md-2 offset-sm-2"></div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <h1>Joshua Tune</h1>
    <app-contact-strip [iconSize]="'2x'"></app-contact-strip>
  </div>
  <div class="offset-lg-8 offset-md-2 offset-sm-2"></div>
</div>
<button class="btn btn-c-primary" [ngx-scroll-to]="'#contact'" (click)="hireMeClick()">Hire Me</button>
