@import "../../../../scss/mixins";
@import "../../../../scss/variables";

.experiences {
  .experience {
    max-width: 500px;
    margin: 0 0 80px 180px;
    position: relative;
    display: block;

    .date-pill {
      background: $pallet-baige;
      padding: 4px 15px;
      margin-bottom: 20px;
      display: block;
      max-width: 100px;
      border-radius: 5px;
      margin-left: -180px;
    }
    .sub-title {
      font-weight: bold;
    }
    .descriptions {
      margin: 7px 0;
      padding: 0 13px;
      .description {
        margin: 10px 5px;
      }
    }
    .title {
      font-family: 'Calistoga', cursive;
      margin-top: -50px;
      &:before {
        position: absolute;
        left: -55px;
        top: 0;
        content: '';
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: $pallet-blue;
      }
      &:after {
        position: absolute;
        left: -40px;
        top: 2px;
        bottom: -160px;
        content: "";
        border-left: 2px solid $pallet-blue;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .experiences {
    .experience {
      margin: 0 0 80px 60px;
    }
  }
}

@include media-breakpoint-down(md) {
  .experiences {
    .experience {
      margin: 0 0 80px 60px;
      .title {
        margin-top: 0;
      }
      .date-pill {
        margin-left: 0;
      }
    }
  }
}
