<div class="experiences">
  <h2>Experience</h2>

  <div class="experience" *ngFor="let experience of experiences">
    <span class="date-pill">{{ experience.end }}</span>
    <h3 class="title">{{ experience.company }}</h3>
    <div class="sub-title mb-2">{{ experience.title }}</div>
    <ul *ngIf="experience.tags && experience.tags.length" class="tags list-unstyled">
      <li *ngFor="let tag of experience.tags" class="tag">{{ tag }}</li>
    </ul>
    <ul class="descriptions">
      <li *ngFor="let description of experience.descriptions" class="description">
        {{ description }}
      </li>
    </ul>
  </div>
</div>
