<app-navigation [ActiveItem]="activeItem$"></app-navigation>
<div>
  <div class="section d-flex justify-content-center" #home id="home">
    <div class="content align-self-center text-center flex-fill ">
      <app-me></app-me>
    </div>
    <app-bg-mountenous></app-bg-mountenous>
  </div>

  <div class="section" #profile id="profile">
    <app-stripes></app-stripes>
    <div class="content">
      <app-profile></app-profile>
    </div>
  </div>

  <div class="section" #experience id="experience">
    <div class="content">
      <app-experience></app-experience>
    </div>
  </div>

  <div class="section" #portfolio id="portfolio">
    <div class="content">
      <app-portfolio></app-portfolio>
    </div>
  </div>

  <div class="section d-flex justify-content-center" #contact id="contact">
    <div class="content align-self-center text-center">
      <app-contact></app-contact>
    </div>
    <app-bg-mountenous></app-bg-mountenous>
  </div>
</div>
