// complements of https://codepen.io/luckyluke007/pen/rxVWro

.bird-1,
.bird-2,
.bird-animation-left,
.bird-aniamtion-right {
  position: absolute;
  left: 90px;
  top: 90px;
}

.bird-1,
.bird-2 {
  height: 35px;
  width: 75px;
}

.bird-animation-left,
.bird-animation-right {
  z-index: 1000;
}

.bird-animation-left {
  animation-delay: 5s;
}

.bird-animation-right {
  float: right;
  transform: rotateY(180deg);
  animation-delay: 10s;
}

.bird-1,
.bird-2 {
  animation: bird-1-animation steps(7) 1s infinite;
  background: url('../../../../assets/svgs/bird-animation.svg') 0 35px no-repeat;
}

.bird-animation-left,
.bird-animation-right {
  animation: bird-2-animation steps(32) 5s infinite;
  background: url('../../../../assets/svgs/bird-animation.svg') 0 50px no-repeat;
  height: 50px;
  width: 200px;
}

.bird-animation-right {
  animation-delay: 8s;
}

@keyframes bird-1-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -245px;
  }
}

@keyframes bird-2-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 -1600px;
  }
  100% {
    background-position: 0 -1600px;
  }
}
