<div class="navigation">
  <app-logo></app-logo>
  <div class="gator">
    <ul class="list">
      <li *ngFor="let item of navItems; let i = index"
          [ngx-scroll-to]="item.scrollToCssId"
          [ngx-scroll-to-offset]="item.scrollToOffset"
          (click)="toggleActive(i, item)"
          [class.active]="item.active"
          [class.mt-auto]="i===0"
      >
        <span class="text">{{ item.label }}</span>
      </li>
    </ul>
  </div>
</div>
