@import "../../../../scss/variables";
@import "../../../../scss/mixins";
@import "~bootstrap/scss/mixins";

.navigation {
  position: absolute;
  top: 0;
}

$nav-circle-size: 30px;
.gator {
  position: fixed;
  right: 10px;
  bottom: 0;
  top: 30px;
  z-index: 1000;
  ul.list {
    height: calc(100vh);
    margin: 0;
    padding: 10px;
  }
  li {
    display: block;
    width: 100%;
    height: 26px;
    text-align: right;
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-right: $nav-circle-size + 10px;
    opacity: 0.5;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: -4px;
      width: $nav-circle-size;
      height: $nav-circle-size;
      border-radius: 50%;
      border: 1px solid $pallet-blue;
    }
    &.active {
      opacity: 1;
      transition: color ease .22s;
      &:before {
        transition: background-color ease .22s;
        background-color: $pallet-blue;
        border: none;
      }
    }
    &:hover {
      transition: opacity ease-in .22s;
      &:before {
        border-width: 4px;
      }
      opacity: 1;
    }
    margin-bottom: 10px;
  }
  color: $pallet-blue;
}

@include media-breakpoint-down(sm) {
  .gator {
    width: 50px;
    ul.list {
      padding-bottom: 50px;
    }
    li {
      width: $nav-circle-size;
      padding-right: 0;
      .text {
        display: none;
      }
    }
  }
}
