@import "../../../../scss/mixins";
@import "../../../../scss/variables";
.stripes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -5;
  li {
    list-style: none;
  }

  .stripe1 {
    @include strip(-2, 0, 90px, 0, 200px, lighten($pallet-blue, 60%), -35deg, none);
  }
  .stripe2 {
    @include strip(-3, 0, 0, 0, 90px, lighten($pallet-blue, 45%), -35deg, none);
  }
  .stripe3 {
    @include strip(-1, 0, 120px, 0, 10px, lighten($pallet-blue, 75%), -35deg, none);
  }
  .stripe4 {
    @include strip(-1, 0, 145px, 0, 5px, lighten($pallet-blue, 75%), -35deg, none);
  }
}
