@import 'fonts';
@import '~bootstrap';

// COLORS
$very-light-gray: #dddddd;
$light-gray: #b2ccd6;
$gray: #373b41;
$dark-gray: #282a2e;
$very-dark-gray: #212121;

$green: #c3e88d;
$teal: #009688;
$light-teal: #73d1c8;
$cyan: #89ddf3;
$blue: #82aaff;
$indigo: #7986cb;
$purple: #c792ea;
$pink: #ff5370;
$red: #f07178;
$strong-orange: #f78c6a;
$orange: #ffcb6b;
$light-orange: #ffe082;

$theme-colors: (
  "primary": $pink,
  "danger": $strong-orange
);

pre {
  color: $light-gray;
}
html,
body {
  margin: 0;
  padding: 0;
  background: $very-dark-gray;
  color: $light-gray;
}

.container {
  max-width: 960px;
}

.full-page {
  min-height: 100vh;
  width: 100vw;

  line-height: 40px;
}
