<div class="row">
  <div class="col-12">

    <button class="btn btn-lg" *ngFor="let item of buttonList">
      <a [href]="item.href" target="_blank" (click)="itemClicked(item)">
        <fa-icon [icon]="item.icon" [size]="iconSize"></fa-icon><br />
        <span class="label">{{ item.label }}</span>
      </a>
    </button>

  </div>
</div>
