/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/mixins";
@import "scss/mixins";
@import "scss/variables";
@import "scss/bootstrap-overrides";
@import "scss/fonts";
@import "scss/patterns";
@import "scss/sections";
@import "scss/typography";
@import "scss/tag";

body {
  margin: 0;
  padding: 0;
  color: lighten($gray-700, 20%);
}
