@import "~bootstrap/scss/mixins";

@mixin pentagon() {
  width: 100px;
  height: 55px;
  background: red;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
  }
}

@mixin strip(
  $z-index,
  $top,
  $right,
  $bottom,
  $width,
  $bg-color,
  $skew,
  $border
) {
  content: '';
  position: absolute;

  z-index: $z-index;
  top: $top;
  bottom: $bottom;
  right: $right;

  width: $width;
  height: 100%;

  background: $bg-color;
  transform: skew($skew);
  border: $border;
  //box-shadow: 2px -3px 4px -1px rgb(23, 32, 38);
}
