/* Coolors Exported Palette - coolors.co/f13c20-3d627d-f7c331-efe2ba-dadded */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

/* HSL */
$color1: hsla(8%, 88%, 54%, 1);
$color2: hsla(205%, 34%, 36%, 1);
$color3: hsla(44%, 93%, 58%, 1);
$color4: hsla(45%, 62%, 83%, 1);
$color5: hsla(231%, 35%, 89%, 1);

/* RGB */
$pallet-red: #F13C20;
$pallet-blue: #3D627D;
$pallet-yellow: #F7C331;
$pallet-baige: #EFE2BA;
$pallet-light: #DADDED;
