@import "mixins";
@import "variables";

@include media-breakpoint-down(sm) {
  .section {
    padding-right: 90px !important;
    &#home {
      padding-top: 100px;
    }
  }
}
.section {
  min-height: 100vh;
  padding: 40px 170px 80px 40px;
  position: relative;
  overflow: hidden;

  &#profile {
    border-top: 10px solid lighten($pallet-blue, 30%);
  }

  &#experience {
    border-top: 10px solid lighten($pallet-blue, 45%);
  }

  &#portfolio {
    border-top: 10px solid $pallet-blue;
  }

  &#contact {
    border-top: 10px solid $pallet-blue;
  }

  .next-bottom {
    position: absolute;
    bottom: 30px;
  }
}
