@import "mixins";
@import "variables";
.tags {
  .tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px 3px;
    background: lighten($pallet-baige, 10%);
    font-size: 0.85em;
  }
}
