@import "variables";
@import "mixins";
h1 {
  color: lighten($gray-700, 15%);
  font-family: 'Calistoga', cursive;
  font-size: 3.5em;
}

h2 {
  color: lighten($pallet-blue, 30%);
  font-family: 'Calistoga', cursive;
  font-size: 2.5em;
  margin-bottom: 40px;
}

h3 {
  color: darken($pallet-yellow, 15%);
  font-size: 1.5em;
  font-family: 'Calistoga', cursive;
}

code {
  color: $pallet-yellow;
  font-weight: bold;
}

a {
  color: $pallet-blue;
}

//html {
//  font-size: 1rem;
//}
//
//@include media-breakpoint-up(sm) {
//  html {
//    font-size: 1.2rem;
//  }
//}
//
//@include media-breakpoint-up(md) {
//  html {
//    font-size: 1.4rem;
//  }
//}
//
@include media-breakpoint-up(lg) {
  p {
    line-height: 28px;
  }
}
