<section class="full-page d-flex justify-content-center align-items-center">
  <div class="container-sm">
    <div class="row">

      <div class="col-12 text-center mb-4">
        <img src="assets/me-sm.png" alt="" class="avatar" />
      </div>

      <div class="col-12 text-center mt-4 mb-4">
        <div class="name">
          <span class="first-letter">J</span>osh
          <span class="first-letter">T</span>une
        </div>
      </div>

      <div class="col-12 text-center mb-4">
        a <span class="job-title">Husband</span>, a
        <span class="job-title">Father</span>, a
        <span class="job-title">Christian</span>, an
        <span class="job-title">Islander</span>,
        <span class="job-title">PickleBall'er</span> and<br />
        <span class="job-title">Full-Stack Web Developer</span>
      </div>

      <div class="col-12 text-center mb-4">
        <div class="col-12 text-center">
          <a
            class="btn mr-1"
            href="https://twitter.com/joshtune"
            target="_blank"
          >
            <i class="fa fa-twitter fa-2x"></i>
          </a>
          <a
            class="btn mr-1"
            href="https://www.linkedin.com/in/joshtune"
            target="_blank"
          >
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
          <a class="btn" href="https://github.com/joshtune" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
          <a class="btn" [routerLink]="'/blog'">
            <i class="fas fa-blog fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
