// Complements of https://codepen.io/zmmbreeze/pen/guLfC
/* sun */
@-webkit-keyframes sunrolling {
  0%   {-webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -o-transform:rotate(0deg); -ie-transform:rotate(0deg);transform:rotate(0deg); }
  100% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform:rotate(180deg); -ie-transform:rotate(180deg);transform:rotate(180deg); }
}
@-moz-keyframes sunrolling {
  0%   {-webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -o-transform:rotate(0deg); -ie-transform:rotate(0deg);transform:rotate(0deg); }
  100% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform:rotate(180deg); -ie-transform:rotate(180deg);transform:rotate(180deg); }
}
@-ms-keyframes sunrolling {
  0%   {-webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -o-transform:rotate(0deg); -ie-transform:rotate(0deg);transform:rotate(0deg); }
  100% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform:rotate(180deg); -ie-transform:rotate(180deg);transform:rotate(180deg); }
}
@keyframes sunrolling {
  0%   {-webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -o-transform:rotate(0deg); -ie-transform:rotate(0deg);transform:rotate(0deg); }
  100% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform:rotate(180deg); -ie-transform:rotate(180deg);transform:rotate(180deg); }
}

.sun {
  float: left;
  position: absolute;
  left: 60px;
  width: 80px;
  height: 80px;
  top: 60px;
  z-index: -2;
}
.sun-leye,
.sun-reye {
  position: absolute;
  top: 1.45em;
  left: 0.75em;
  width: 0.4em;
  height: 0.9em;
  background: #565656;
  -webkit-border-radius: 0.4em / 0.8em;
  -moz-border-radius: 0.4em / 0.8em;
  -o-border-radius: 0.4em / 0.8em;
  -ms-border-radius: 0.4em / 0.8em;
  border-radius: 0.4em / 0.8em;
}
.sun-leye:after,
.sun-reye:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.4em;
  height: 0.1em;
  background: #ffdf05;
  content: '';
}
.sun-leye:before,
.sun-reye:before {
  position: absolute;
  bottom: 0.1em;
  right: -0.1em;
  width: 0.2em;
  height: 0.2em;
  background: #ffdf05;
  content: '';
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}
.sun-reye {
  left: auto;
  right: 0.75em;
}
.sun-lred,
.sun-rred {
  position: absolute;
  top: 2em;
  left: -0.2em;
  width: 0.7em;
  height: 0.35em;
  opacity: 0.6;
  background: #ff5e00;
  -webkit-border-radius: 0.7em / 0.35em;
  -moz-border-radius: 0.7em / 0.35em;
  -ms-border-radius: 0.7em / 0.35em;
  -o-border-radius: 0.7em / 0.35em;
  border-radius: 0.7em / 0.35em;
}
.sun-rred {
  left: auto;
  right: -0.2em;
}
.sun-nose {
  position: absolute;
  bottom: 0.8em;
  left: 50%;
  margin-left: -0.2em;
  width: 0.4em;
  height: 0.1em;
  background: #565656;
  -webkit-border-radius: 0.2em 0.2em 0 0 / 0.1em 0.1em 0 0;
  -moz-border-radius: 0.2em 0.2em 0 0 / 0.1em 0.1em 0 0;
  -ms-border-radius: 0.2em 0.2em 0 0 / 0.1em 0.1em 0 0;
  -o-border-radius: 0.2em 0.2em 0 0 / 0.1em 0.1em 0 0;
  border-radius: 0.2em 0.2em 0 0 / 0.1em 0.1em 0 0;
}
.sun-nose:after {
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 0.4em;
  height: 0.2em;
  background: #565656;
  -webkit-border-radius: 0 0 0.2em 0.2em;
  -moz-border-radius: 0 0 0.2em 0.2em;
  -ms-border-radius: 0 0 0.2em 0.2em;
  -o-border-radius: 0 0 0.2em 0.2em;
  border-radius: 0 0 0.2em 0.2em;
  content: '';
}
.sun-nose:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.03125em;
  width: 0.0625em;
  height: 0.35em;
  background: #565656;
  content: '';
}
.sun-hlight {
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  width: 0.35em;
  height: 0.35em;
  opacity: 0.8;
  background: #fcf0a3;
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  -ms-border-radius: 0.35em;
  -o-border-radius: 0.35em;
  border-radius: 0.35em;
}
.sun-anime {
  width: 100%;
  height: 100%;
  -webkit-animation: sunrolling 30s infinite;
  -moz-animation: sunrolling 30s infinite;
  -ie-animation: sunrolling 30s infinite;
  -o-animation: sunrolling 30s infinite;
  animation: sunrolling 30s infinite;
}
.sun-ball {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ie-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #FFF;
  -webkit-box-shadow: 0 0 100px #ffdf05;
  -moz-box-shadow: 0 0 100px #ffdf05;
  -ie-box-shadow: 0 0 100px #ffdf05;
  -o-box-shadow: 0 0 100px #ffdf05;
  box-shadow: 0 0 100px #ffdf05;
}
