<div class="sun">
<!--  <div class="sun-face">-->
<!--    <div class="sun-hlight"></div>-->
<!--    <div class="sun-leye"></div>-->
<!--    <div class="sun-reye"></div>-->
<!--    <div class="sun-lred"></div>-->
<!--    <div class="sun-rred"></div>-->
<!--    <div class="sun-nose"></div>-->
<!--  </div>-->
  <div class="sun-anime">
    <div class="sun-ball"></div>
  </div>
</div>
